repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
      - id: ruff
        name: ruff
        entry: ruff check
        language: python
        types: [python]
